<a href="#/persons/new" class="btn btn-link">New Person</a>
<div class="container" data-ng-controller="PersonListController as personList">
			<div class="col-sm-10">
				<table class="table">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Location</th>
						<th></th>
					</tr>
					<tr ng-repeat="person in personList.persons">
						<td>{{person.id}}</td>
						<td>{{person.name}}</td>
						<td>{{person.location}}</td>
						<td>
							<a href="#/persons/{{person.id}}" class="btn btn-link">View</a>
						</td>
					</tr>                        
				</table>
			</div>
		</div>