
<div class="container" data-ng-controller="PersonController as person">
			<h2>Person Entry Form</h2>
			<form ng-submit="person.add()" class="form">
				<div class="form-group">
					<label for='id' class="col-sm-2">Id</label>
					<input type='text' id='id' ng-model='person.id'>
				</div>
				<div class="form-group">
					<label for='name' class="col-sm-2">Name</label>
					<input type='text' id='name' ng-model="person.name">
				</div>
				<div class="form-group">
					<label for='location' class="col-sm-2">Location</label>
					<input type='text' id='location' ng-model="person.location">
				</div>

				<input class="btn btn-primary" type="submit" text="Add">
				<a href="#/persons" class="btn btn-link">Back</a>

			</form>
		</div>